
@viewport {
    zoom:1;
}

/*Body*/

body {
        background: linear-gradient(90deg, #FFD1FD, #F1C44E);
    
}

/*Head*/

.Logo {

    height: 350px;
    width: 350px;
    margin-top: -330px;
    margin-left: 520px;
    position: absolute;

}

.head {

    font-family:"Montserrat";
    font-size: 50pt;
    color: white;
    text-align: center;
    margin-top: 350px;
    
}

button {

    font-family: "Montserrat;
    text-align: center;
    font-size: 20px;
    border-radius: 0.5rem;
    border-style: none;
    cursor: pointer;
    box-shadow: black;
    padding: 0.5rem;
    margin: 0.5rem;
}

button:hover {
    background-color: #4f1964;
    color: white;
  }

.login {

    background-color:white; 
    color: black;
    padding: 10px;
    margin: 610px;
    margin-top: 15px;

}

@media screen and (max-width:38.75em) {

    .Logo {
        float: none;
    }

    .head {
        text-align: center;
    }

    .login {
        position: none;
    }

}

/*  styling für den timer */

#timer{
    /* min-height: 100vh ; */
    font-family: Montserrat;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;


}
.countdown{
    display: flex;
    justify-content: center;
    text-align: center;
}

.countdown p {
    font-size: x-large;
    text-align: center;
    margin-top: -1rem;

}
/*  styling für den timer zu ende*/
