@font-face {
    font-family:"coluna";
    src:
    url("coluna-webfont.woff") format("woff"),
    url("coluna-webfont.woff2") format("woff2"),
    }


/*Body*/

body {
    background: linear-gradient(90deg, #FFD1FD, #F1C44E);

}
.anfang {
    text-align: center;
    font-family: "coluna";
    font-size: 5em;
    color: white;
}

.ende {
    text-align: center;
    font-family: "coluna";
    font-size: 5em;
    color: purple;
    margin-top: -90px;
}

.headline {

    text-align: center;
    margin-top: -50px;
}

.Text {
	text-align: right;
    padding-right: 270px;

}

img {
    align-items: center;
    transform: skewY(-16deg);
    transform-origin: 60% 40%;
   
}

.log {

    transform: skewY(16deg);
    transform-origin: 10% 20%;
    margin-left: -300px;

}

textarea {

    width:20%;
    height:90px;
    display: block;
    text-align: right;
}