
/*Body*/

body {
    background: linear-gradient(90deg, #FFD1FD, #F1C44E);

}
.anfang {
    text-align: center;
    font-family: "Montserrat";
    font-size: 5em;
    color: white;
}

.ende {
    text-align: center;
    font-family: "Montserrat";
    font-size: 5em;
    color: purple;
    margin-top: -80px;
}

.headline {

    text-align: center;
    margin-top: -50px;
    font-family: "Montserrat";
    font-size: 10pt;
}

/*.Text {
	text-align: center;
    padding-right: 70px;
    font-family: "Montserrat";
    color: white;
    font-size: 1em;
  
}*/

.pitch {
    align-items: right;
    margin: -50px;

}

.log {

    transform: skewY(16deg);
    transform-origin: 10% 20%;
    margin-left: -300px;
}

.chat {
    align-items: center;
    transform: skewY(-16deg);
    transform-origin: 60% 40%;

}

.ersteller {
    text-align: right;
    font-size: 9pt;
    color:white;
    padding: 70px;
	font-family:"Montserrat";
}

	
