
@viewport {
    zoom:1;
}

/*Body*/

body {
        background: linear-gradient(90deg, #FFD1FD, #F1C44E);
        margin: 2rem;
        font-family: Montserrat;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
    
}

/*Head */

.Logo {
margin: 1em;
margin-bottom: -4em;
padding-left: 1.7em;


}


.head {

    font-family:"Montserrat";
    font-size: 5em;
    color: white;
    text-align: center;
    margin: 0.7em;
    
}

button {

    font-family: "Montserrat";
    text-align: center;
    font-size: 1.3em;
    border-radius: 0.5rem;
    border-style: none;
    cursor: pointer;
    box-shadow: black;
    padding: 0.8rem;
    margin: 0.4rem;
    margin-top: 1rem;
    background-color:white; 
    color: black;
}

button:hover {
    background-color: #4f1964;
    color: white;
  }







